nav{
    background-color: gainsboro;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;

}

nav ul li {
    margin: 0 1rem;
    cursor: pointer;
}

body, #root {
    background-color: rgb(246, 251, 255) !important;
    min-height: 100vh;
}

.dashboardIntro {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    color: #003366;
}

#newStudySetButton {
    margin-left: 4rem;
    margin-bottom:1.5rem;
}


.flashcard {
    perspective: 1000px;
    align-content: center;
    vertical-align: center;
    text-align: center;
    height: 300px;
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 10px;
}

.flashcard-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    background-color: #d9edff;
    border-radius: 15px;
    box-shadow: 5px 5px #c6e2fb;
    width:100%;
    height:100%;
}

.flashcard-inner.flipped {
    transform: rotateX(180deg);
}

.flashcard-front, .flashcard-back {
    backface-visibility: hidden;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #003366 transparent;
    margin:auto;
    position: absolute; 
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    padding: 20px; 
}

.flashcard-back {
    transform: rotateX(180deg);
    
}

.carousel-control-next, .carousel-control-prev {
    width: 50px !important;
    z-index: 10;
}

.flashcard-front h1, .flashcard-back h3 {
    margin: auto;
    width: 100%;
    text-align: center;
}

.markdown-content h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

.markdown-content h2 {
    font-size: 1.5rem;
    font-weight: 600;
}